body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
  --color-text-title: #2e2f42;
  --color-text-paragraph: #434455;
  --color-logo: #4d5ae5;
  --color-footer-text: #f4f4fd;
}
/**-----------------HEADER----------------*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}

.link {
  text-decoration: none;
}

.span {
  color: var(--color-text-title);
}

.header-list-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.header-list-title:is(:hover, :focus) {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.list {
  list-style: none;
}
.address-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-paragraph);
}
.address-title:is(:hover, :focus) {
  color: #404bbf;
}
/**-----------------HERO----------------*/
.hero {
  background-color: var(--color-text-title);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:is(:hover, :focus) {
  background-color: #404bbf;
}
/**-----------------SECTION1----------------*/
.qualities-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.qualities-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-paragraph);
}
/**-----------------SECTION2----------------*/
.doing {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-title);
}
/**-----------------SECTION3----------------*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-text-title);
}
.team-item {
  background-color: #ffffff;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-paragraph);
  font-size: 16px;
}
/**-----------------FOOTER----------------*/
.footer {
  background-color: var(--color-text-title);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}
.footer-logo-span {
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  color: var(--color-footer-text);
  letter-spacing: 0.02em;
}
/**-----------------PORTFOLIO-MAIN----------------*/

.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-logo);
  background-color: var(--color-footer-text);
  cursor: pointer;
}
.portfolio-btn:is(:hover, :focus) {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-list-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-paragraph);
}
