body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
  --color-text: #2e2f42;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.span {
  color: var(--color-text);
}

.header-list-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.header-list-title:hover {
  color: #404bbf;
}
.header-list-title:focus {
  color: #404bbf;
}
