body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #ffffff;
  --color-text-title: #2e2f42;
  --color-text-paragraf: #434455;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.span {
  color: var(--color-text-title);
}

.header-list-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.header-list-title:hover {
  color: #404bbf;
}
.header-list-title:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.list {
  list-style: none;
}
.address-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text-paragraf);
}
.address-title:hover {
  color: #404bbf;
}
.address-title:focus {
  color: #404bbf;
}
.hero {
  background-color: var(--color-text-title);
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-btn {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}
